registry=https://artifacts.procoretech.com/artifactory/api/npm/npm/
@procore:registry=https://artifacts.procoretech.com/artifactory/api/npm/npm/
legacy-peer-deps=true
//artifacts.procoretech.com/artifactory/api/npm/npm/:_authToken=${NPM_TOKEN}
